#redcube{
    background: red;
    width:20px;
    height: 20px;
    position: absolute;
}

#table{
    background: black;
    width: 460px;
    height: 460px;
    position: absolute;
    left: 0px;
    top: 0px; 
    margin: 20px;  
}

#bulletUp{
    background: green;
    width: 2px;
    height: 50px;
    position: absolute;
}

#bulletDown{
    background: green;
    width: 2px;
    height: 50px;
    position: absolute;
}

#bulletLeft{
    background: green;
    width: 50px;
    height: 2px;
    position: absolute;
}

#bulletRight{
    background: green;
    width: 50px;
    height: 2px;
    position: absolute;
}

.enemy{
    background: blue;
    width: 35px;
    height: 35px;
    position: absolute;
}